<div class="error-container">
  <div id="error-header">unexpected error</div>
  <h1 id="error-details">{{model}}</h1>
  <a href="javascript:location.reload();">Reload</a>
  <div id="error">
    There is nothing to see here
  </div>
</div>